In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Crop Production data.csv")

In [3]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [4]:
data.shape

(246091, 7)

In [5]:
data.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [6]:
data.dropna(inplace=True)

In [7]:
data.isnull().values.any()

False

In [8]:
data.Season.unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [9]:
data['Season'] = data['Season'].apply(lambda x: x.strip())
data['Crop'] = data['Crop'].apply(lambda x: x.strip())
data['State_Name'] = data['State_Name'].apply(lambda x: x.strip())

In [10]:
data.Season.unique()

array(['Kharif', 'Whole Year', 'Autumn', 'Rabi', 'Summer', 'Winter'],
      dtype=object)

In [11]:
data['Season'].value_counts()

Kharif        94283
Rabi          66160
Whole Year    56127
Summer        14811
Winter         6050
Autumn         4930
Name: Season, dtype: int64

In [12]:
data['Season'] = data['Season'].apply(lambda x : x.replace('Autumn','Kharif'))
data['Season'] = data['Season'].apply(lambda x : x.replace('Summer','Kharif'))
data['Season'] = data['Season'].apply(lambda x : x.replace('Winter','Rabi'))

In [13]:
data['Season'].value_counts()

Kharif        114024
Rabi           72210
Whole Year     56127
Name: Season, dtype: int64

In [14]:
data.shape

(242361, 7)

In [15]:
data.drop(data[data['Production']==0].index,inplace=True)

In [16]:
data.shape

(238838, 7)

In [17]:
data.Crop.unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Beans & Mutter(Vegetable)', 'Bhindi',
       'Brinjal', 'Citrus Fruit', 'Grapes', 'Mango', 'Orange',
       'Other Fresh Fruits', 'Papaya', 'Pome Fruit', 'Tomato', 'Soyabean',
       'Mesta', 'Cowpea(Lobia)', 'Lemon', 'Pome Granet', 'Sapota',
       'Cabbage', 'Rapeseed &Mustard', 'Niger seed', 'Varagu', 'Garlic',
       'Ginger', 'Oilseeds total', 'Pulses total', 'Jute',
       'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Sannhamp', 'Khesari', 'Guar seed', 'Other Vegetables',
       'Moth', 'Other Cereals & Millets', 'Cond-spcs other', 'Turnip',
       'Carrot', 'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Drum Stick', 'Jack Fruit', 'Tea', 'Coffee', 'Total foodgrain',
       'Cauliflower', 'Bitter Gourd', 'Bottle Gourd', 'Kapas',
       'Colocosia', 'Lentil', 'Bean', 'Jobster', 'Perilla',
       'Rajmash Kholar', 'Ricebean (nagadal)', 'Jute & mesta'],
      dtype=object)

In [18]:
data.replace('Kapas','Cotton',inplace=True)
data.replace('Cotton(lint)','Cotton',inplace=True)
data.replace('Jute & mesta','Jute',inplace=True)
data.replace('Mesta','Jute',inplace=True)

In [19]:
data['Crop'] = data['Crop'].apply(lambda x:x.replace('Other Kharif pulses','pulses')
                                 .replace('Other  Rabi pulses','pulses')
                                 .replace('Peas & beans (Pulses)','pulses')
                                 .replace('Pulses total','pulses')
                                 .replace('other misc. pulses','pulses')
                                 .replace('Moong(Green Gram)','pulses')
                                 .replace('Urad','pulses')
                                 .replace('Arhar/Tur','pulses')
                                 .replace('Bean','pulses')
                                 .replace('Ricebean (nagadal)','pulses')
                                 .replace('Lentil','pulses')
                                 .replace('Khesari','pulses')
                                 .replace('Horse-gram','pulses')
                                 .replace('Rajmash Kholar','pulses'))

data['Crop'] = data['Crop'].apply(lambda x:x.replace('Atcanut (Raw)','Arecanut')
                                 .replace('Arcanut (Processed)','Arecanut'))

data['Crop'] = data['Crop'].apply(lambda x:x.replace('Black pepper','Other Spices')
                                 .replace('Cardamon','Other Spices')
                                 .replace('Perilla','Other Spices'))

data['Crop'] = data['Crop'].apply(lambda x:x.replace('Papaya','Fruits')
                                 .replace('Mango','Fruits')
                                 .replace('Orange','Fruits')
                                 .replace('Other Fresh Fruits','Fruits')
                                 .replace('Grapes','Fruits')
                                 .replace('Pome Fruit','Fruits')
                                 .replace('Pome Granet','Fruits')
                                 .replace('Jack Fruit','Fruits')
                                 .replace('Sapota','Fruits')
                                 .replace('Lemon','Fruits')
                                 .replace('Citrus Fruit','Fruits')
                                 .replace('Banana','Fruits'))

data['Crop']=data['Crop'].apply(lambda x:x
                                    .replace('Ginger','Dry ginger'))

data['Crop']=data['Crop'].apply(lambda x:x
                                    .replace('Turnip','Onion'))

data['Crop']=data['Crop'].apply(lambda x:x
                                      .replace('Cashewnut Raw','Cashewnut')
                                      .replace('Cashewnut Processed','Cashewnut'))

data['Crop']=data['Crop'].apply(lambda x:x
                                      .replace('black gram','gram')
                                     .replace('Moth','gram')
                                     .replace('Blackgram','gram'))

data['Crop']=data['Crop'].apply(lambda x:x
                                      .replace('Oilseeds total' ,'oilseeds')
                                      .replace('Niger seed' ,'oilseeds')
                                     .replace('other oilseeds','oilseeds'))

data['Crop']=data['Crop'].apply(lambda x:x
                                      .replace('Other Cereals & Millets' ,'Bajra')
                                      .replace('Samai' ,'Bajra')
                                      .replace('Small millets' ,'Bajra')
                                      .replace('Ragi','Bajra')
                                      .replace('Varagu','Bajra')
                                      .replace('Jobster','Bajra'))

data['Crop']=data['Crop'].apply(lambda x:x
                                     .replace('Coriander' ,'Vegetables')
                                     .replace('pulsess & Mutter(Vegetable)' ,'Vegetables')
                                     .replace('Bhindi' ,'Vegetables')
                                     .replace('Tomato','Vegetables')
                                     .replace('Cowpea(Lobia)','Vegetables')
                                     .replace('Cabbage','Vegetables')
                                     .replace('Carrot','Vegetables')
                                     .replace('Drum Stick','Vegetables')
                                     .replace('Redish','Vegetables')
                                     .replace('Cauliflower','Vegetables')
                                     .replace('Colocosia','Vegetables')
                                     .replace('Brinjal','Vegetables')
                                     .replace('Bottle Gourd','Vegetables')
                                     .replace('Bitter Gourd','Vegetables')
                                     .replace('Other Vegetables','Vegetables')
                                     .replace('Potato','Vegetables'))

data['Crop']=data['Crop'].apply(lambda x:x.replace('Niger seed','Sesamum'))
data['Crop']=data['Crop'].apply(lambda x:x.replace('Korra','Total foodgrain'))
data['Crop']=data['Crop'].apply(lambda x:x.replace('Paddy','Rice'))

In [20]:
data.Crop.unique()

array(['Arecanut', 'pulses', 'Rice', 'Fruits', 'Cashewnut', 'Coconut',
       'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Other Spices', 'Dry chillies', 'oilseeds', 'Turmeric', 'Maize',
       'Groundnut', 'Sunflower', 'Bajra', 'Castor seed', 'Cotton',
       'Jowar', 'Total foodgrain', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'Vegetables',
       'Soyabean', 'Jute', 'Rapeseed &Mustard', 'Garlic', 'gram',
       'Pineapple', 'Barley', 'Sannhamp', 'Guar seed', 'Cond-spcs other',
       'Cardamom', 'Rubber', 'Tea', 'Coffee'], dtype=object)

In [21]:
data.to_csv('Crop_clean.csv')

In [22]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Fruits,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [23]:
data1 = data.drop(["District_Name","Crop_Year"],axis=1)

In [24]:
#from sklearn.preprocessing import LabelEncoder
#encoding_cols = ['State_Name','Season','Crop']
#label_encoders = {}
#for col in encoding_cols:
 #   label_encoders[col] = LabelEncoder()
  #  data1[col] = label_encoders[col].fit_transform(data1[col])
data1 = pd.get_dummies(data1)

In [25]:
data1

,Area,Production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,State_Name_Dadra and Nagar Haveli,...,Crop_Tapioca,Crop_Tea,Crop_Tobacco,Crop_Total foodgrain,Crop_Turmeric,Crop_Vegetables,Crop_Wheat,Crop_gram,Crop_oilseeds,Crop_pulses
0,1254.0,2000.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,102.0,321.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,176.0,641.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,720.0,165.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246086,306.0,801.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246087,627.0,463.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246088,324.0,16250.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246089,279151.0,597899.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246090,175.0,88.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
x = data1.drop("Production",axis=1)
y = data1[["Production"]]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (191070, 82)
x_test : (47768, 82)
y_train : (191070, 1)
y_test : (47768, 1)

In [27]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [28]:
x_train[:5]

array([[-2.23154772e-01, -2.85853432e-02, -2.04210375e-01,
        -1.03574972e-01, -2.56269174e-01, -2.92353919e-01,
        -1.90067002e-02, -2.13611014e-01, -3.34068675e-02,
        -2.93990516e-02, -1.90453462e-01, -1.28463259e-01,
        -1.01568971e-01, -8.18324993e-02, -7.23882891e-02,
        -3.12125439e-01, -1.27300684e-01,  3.18604156e+00,
        -2.34210199e-01, -7.31876271e-02, -1.10890730e-01,
        -6.29430846e-02, -1.29072309e-01, -2.44645340e-01,
        -6.10287014e-02, -1.15955937e-01, -2.26180847e-01,
        -5.45557612e-02, -2.33575462e-01, -1.53135198e-01,
        -7.70626690e-02, -4.01367982e-01, -1.43819267e-01,
        -2.04182562e-01,  1.05248784e+00, -6.58351243e-01,
        -5.36011337e-01, -8.16378274e-02, -2.57184074e-01,
        -1.32262655e-01, -3.78264472e-02, -6.82155688e-02,
        -1.17063499e-01, -9.11677846e-02, -3.23534813e-03,
        -9.70645082e-03, -1.37551615e-01, -1.65434380e-01,
        -1.16649330e-01, -1.45422312e-01, -1.16233764e-01,
        -1.77154167e-01,  5.14397484e+00, -7.27890322e-02,
        -1.73154655e-01, -1.17017549e-01, -1.35843185e-01,
        -2.47253914e-01, -1.33079645e-01, -1.73314915e-01,
        -6.30268394e-02, -3.20445848e-02, -1.80751931e-01,
        -2.64315646e-01, -1.07309975e-02, -7.39785109e-02,
        -9.46914921e-02, -1.94416692e-01, -1.17040526e-01,
        -1.83832294e-01, -1.53027768e-01, -1.31337887e-01,
        -8.20590483e-02, -1.53483309e-02, -1.05239830e-01,
        -3.66281399e-02, -1.32773823e-01, -2.29067955e-01,
        -1.84758281e-01, -6.00709203e-02, -1.12952196e-01,
        -4.71835676e-01],
       [-2.23284015e-01, -2.85853432e-02, -2.04210375e-01,
        -1.03574972e-01, -2.56269174e-01, -2.92353919e-01,
        -1.90067002e-02, -2.13611014e-01, -3.34068675e-02,
        -2.93990516e-02, -1.90453462e-01, -1.28463259e-01,
        -1.01568971e-01, -8.18324993e-02, -7.23882891e-02,
        -3.12125439e-01, -1.27300684e-01, -3.13869101e-01,
         4.26966889e+00, -7.31876271e-02, -1.10890730e-01,
        -6.29430846e-02, -1.29072309e-01, -2.44645340e-01,
        -6.10287014e-02, -1.15955937e-01, -2.26180847e-01,
        -5.45557612e-02, -2.33575462e-01, -1.53135198e-01,
        -7.70626690e-02, -4.01367982e-01, -1.43819267e-01,
        -2.04182562e-01,  1.05248784e+00, -6.58351243e-01,
        -5.36011337e-01, -8.16378274e-02, -2.57184074e-01,
        -1.32262655e-01, -3.78264472e-02, -6.82155688e-02,
        -1.17063499e-01, -9.11677846e-02, -3.23534813e-03,
        -9.70645082e-03, -1.37551615e-01, -1.65434380e-01,
        -1.16649330e-01, -1.45422312e-01, -1.16233764e-01,
        -1.77154167e-01,  5.14397484e+00, -7.27890322e-02,
        -1.73154655e-01, -1.17017549e-01, -1.35843185e-01,
        -2.47253914e-01, -1.33079645e-01, -1.73314915e-01,
        -6.30268394e-02, -3.20445848e-02, -1.80751931e-01,
        -2.64315646e-01, -1.07309975e-02, -7.39785109e-02,
        -9.46914921e-02, -1.94416692e-01, -1.17040526e-01,
        -1.83832294e-01, -1.53027768e-01, -1.31337887e-01,
        -8.20590483e-02, -1.53483309e-02, -1.05239830e-01,
        -3.66281399e-02, -1.32773823e-01, -2.29067955e-01,
        -1.84758281e-01, -6.00709203e-02, -1.12952196e-01,
        -4.71835676e-01],
       [ 2.19337612e+00, -2.85853432e-02, -2.04210375e-01,
        -1.03574972e-01, -2.56269174e-01, -2.92353919e-01,
        -1.90067002e-02, -2.13611014e-01, -3.34068675e-02,
        -2.93990516e-02, -1.90453462e-01, -1.28463259e-01,
        -1.01568971e-01, -8.18324993e-02, -7.23882891e-02,
        -3.12125439e-01, -1.27300684e-01,  3.18604156e+00,
        -2.34210199e-01, -7.31876271e-02, -1.10890730e-01,
        -6.29430846e-02, -1.29072309e-01, -2.44645340e-01,
        -6.10287014e-02, -1.15955937e-01, -2.26180847e-01,
        -5.45557612e-02, -2.33575462e-01, -1.53135198e-01,
        -7.70626690e-02, -4.01367982e-01, -1.43819267e-01,
        -2.04182562e-01, -9.50129738e-01, -6.58351243e-01,
         1.86563218e+00, -8.16378274e-02, -2.57184074e-01,
        -1.32262655e-01, -3.78264472e-02, -6.82155688e-02,
        -1.17063499e-01, -9.11677846e-02, -3.23534813e-03,
        -9.70645082e-03, -1.37551615e-01, -1.65434380e-01,
        -1.16649330e-01, -1.45422312e-01, -1.16233764e-01,
        -1.77154167e-01, -1.94402195e-01, -7.27890322e-02,
        -1.73154655e-01, -1.17017549e-01, -1.35843185e-01,
        -2.47253914e-01, -1.33079645e-01, -1.73314915e-01,
        -6.30268394e-02, -3.20445848e-02, -1.80751931e-01,
        -2.64315646e-01, -1.07309975e-02, -7.39785109e-02,
        -9.46914921e-02, -1.94416692e-01, -1.17040526e-01,
        -1.83832294e-01, -1.53027768e-01, -1.31337887e-01,
        -8.20590483e-02, -1.53483309e-02, -1.05239830e-01,
        -3.66281399e-02, -1.32773823e-01, -2.29067955e-01,
         5.41247729e+00, -6.00709203e-02, -1.12952196e-01,
        -4.71835676e-01],
       [-2.23856377e-01, -2.85853432e-02, -2.04210375e-01,
        -1.03574972e-01, -2.56269174e-01, -2.92353919e-01,
        -1.90067002e-02, -2.13611014e-01, -3.34068675e-02,
        -2.93990516e-02, -1.90453462e-01, -1.28463259e-01,
         9.84552653e+00, -8.18324993e-02, -7.23882891e-02,
        -3.12125439e-01, -1.27300684e-01, -3.13869101e-01,
        -2.34210199e-01, -7.31876271e-02, -1.10890730e-01,
        -6.29430846e-02, -1.29072309e-01, -2.44645340e-01,
        -6.10287014e-02, -1.15955937e-01, -2.26180847e-01,
        -5.45557612e-02, -2.33575462e-01, -1.53135198e-01,
        -7.70626690e-02, -4.01367982e-01, -1.43819267e-01,
        -2.04182562e-01, -9.50129738e-01,  1.51894602e+00,
        -5.36011337e-01, -8.16378274e-02, -2.57184074e-01,
        -1.32262655e-01, -3.78264472e-02, -6.82155688e-02,
        -1.17063499e-01, -9.11677846e-02, -3.23534813e-03,
        -9.70645082e-03, -1.37551615e-01, -1.65434380e-01,
        -1.16649330e-01, -1.45422312e-01, -1.16233764e-01,
        -1.77154167e-01, -1.94402195e-01, -7.27890322e-02,
        -1.73154655e-01, -1.17017549e-01, -1.35843185e-01,
        -2.47253914e-01, -1.33079645e-01, -1.73314915e-01,
        -6.30268394e-02, -3.20445848e-02,  5.53244435e+00,
        -2.64315646e-01, -1.07309975e-02, -7.39785109e-02,
        -9.46914921e-02, -1.94416692e-01, -1.17040526e-01,
        -1.83832294e-01, -1.53027768e-01, -1.31337887e-01,
        -8.20590483e-02, -1.53483309e-02, -1.05239830e-01,
        -3.66281399e-02, -1.32773823e-01, -2.29067955e-01,
        -1.84758281e-01, -6.00709203e-02, -1.12952196e-01,
        -4.71835676e-01],
       [-2.29746167e-01, -2.85853432e-02, -2.04210375e-01,
        -1.03574972e-01, -2.56269174e-01, -2.92353919e-01,
        -1.90067002e-02, -2.13611014e-01, -3.34068675e-02,
        -2.93990516e-02, -1.90453462e-01, -1.28463259e-01,
        -1.01568971e-01, -8.18324993e-02, -7.23882891e-02,
        -3.12125439e-01, -1.27300684e-01, -3.13869101e-01,
        -2.34210199e-01, -7.31876271e-02, -1.10890730e-01,
        -6.29430846e-02, -1.29072309e-01, -2.44645340e-01,
        -6.10287014e-02, -1.15955937e-01, -2.26180847e-01,
        -5.45557612e-02, -2.33575462e-01, -1.53135198e-01,
        -7.70626690e-02,  2.49147926e+00, -1.43819267e-01,
        -2.04182562e-01, -9.50129738e-01,  1.51894602e+00,
        -5.36011337e-01, -8.16378274e-02, -2.57184074e-01,
        -1.32262655e-01, -3.78264472e-02, -6.82155688e-02,
        -1.17063499e-01, -9.11677846e-02, -3.23534813e-03,
        -9.70645082e-03, -1.37551615e-01, -1.65434380e-01,
        -1.16649330e-01, -1.45422312e-01, -1.16233764e-01,
        -1.77154167e-01, -1.94402195e-01, -7.27890322e-02,
        -1.73154655e-01, -1.17017549e-01, -1.35843185e-01,
        -2.47253914e-01,  7.51429715e+00, -1.73314915e-01,
        -6.30268394e-02, -3.20445848e-02, -1.80751931e-01,
        -2.64315646e-01, -1.07309975e-02, -7.39785109e-02,
        -9.46914921e-02, -1.94416692e-01, -1.17040526e-01,
        -1.83832294e-01, -1.53027768e-01, -1.31337887e-01,
        -8.20590483e-02, -1.53483309e-02, -1.05239830e-01,
        -3.66281399e-02, -1.32773823e-01, -2.29067955e-01,
        -1.84758281e-01, -6.00709203e-02, -1.12952196e-01,
        -4.71835676e-01]])

In [29]:
y_train

        Production
117915       264.0
137182       200.0
110496    406978.0
72925         86.0
221246        36.0
...            ...
124415         7.0
107164     28778.0
136701       600.0
151694       731.8
126573    204700.0

[191070 rows x 1 columns]

Random Forest Regressor

In [40]:
from sklearn.ensemble import RandomForestRegressor
model1 = RandomForestRegressor(n_estimators=100,random_state = 42)
model1.fit(x_train,y_train.values.ravel())
preds = model1.predict(x_test)

In [41]:
from sklearn.metrics import r2_score,mean_absolute_percentage_error
r = r2_score(y_test,preds)
print("R2score:",r)

R2score: 0.8708738075443593

In [32]:
y_test

        Production
41416       1117.0
183710       208.0
71982         58.0
125632     46100.0
180040       231.0
...            ...
45953         85.0
128064     21200.0
64661      26300.0
127147         7.0
88625        322.0

[47768 rows x 1 columns]

In [33]:
preds

array([1.01636833e+03, 1.32973333e+02, 5.12522167e+02, ...,
       2.97928867e+04, 2.43578129e+01, 1.01588833e+03])

Linear Regression

In [34]:
from sklearn.linear_model import LinearRegression
model2 = LinearRegression()
model2.fit(x_train,y_train)

LinearRegression()

In [35]:
preds = model2.predict(x_test)

In [36]:
from sklearn.metrics import mean_squared_error, r2_score
k = r2_score(y_test,preds)
print("r2-score:",k)

r2-score: 0.17571134088754659